.clinic-info {
    width: 100%;
    padding: 30px 0 48px 0;

    background: linear-gradient(180deg, #A3AEFF 0%, #5C70FF 100%);
}

.clinic-info__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.clinic-info__group-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.clinic-info__title h3{
    color: #FFF;
    font-size: calc( (100vw - 320px)/(1200 - 320) * (22 - 15) + 15px);
    line-height: 130%;
    font-weight: 700;
    text-align: center;
}
.clinic-info__list {
    max-width: 430px;
    padding: 22px 30px;

    background-color: #fff;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.clinic-info__list-title {
    font-size: 20px;
    font-weight: 600;
}

.clinic-info__list-subtitle {
    max-width: 277px;
    margin: 0 auto;
}
.clinic-info__list-subtitle h5 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.clinic-info__list-subtitle h5 span {
    display: inline-block;
    position: relative;
}
.clinic-info__list-subtitle h5 span::before {
    content: '';
    height: 4px;
    background-color: #5C70FF;
    border-radius: 20px;

    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
}
.clinic-info__list ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.clinic-info__list ul li{
    position: relative;
    padding-left: 30px;

    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
}
.clinic-info__list ul li::before{
    content: '';
    background-image: url(/image/icon/star.svg);
    background-size: 27px 27px;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    width: 27px;
    height: 27px;
    left: -10px;
    top: 0;
}
.clinic-info__list ul li::marker {
    width: 10px;
    height: 10px;
}
.clinic-info__group-img {
    width: calc( (100vw - 320px)/(1200 - 320) * (568 - 353) + 353px);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
}
.clinic-info__img {
    width: 100%;
}
.clinic-info__img img{
    max-width: 100%;
}
.clinic-info__img-title {
    margin-top: 15px;
}
.clinic-info__img-title h3{
    color: #FFF;
    font-size: 32px;
    font-size: calc( (100vw - 320px)/(1200 - 320) * (32 - 20) + 20px);
    font-weight: 700;
}

@media (max-width:720px) {
    .clinic-info {
        margin-top: -70px;
        padding: 50px 0 0 0;
    }
    .clinic-info__wrapper {
        flex-direction: column-reverse;
        align-items: center;        
        gap: 20px;
    }
    .clinic-info__group-img {
        width: 100%;
    }
    .js-bias-info {
        margin-top: 20px;
    }
    .clinic-info__list {
        width: 100%;
        max-width: 100%;
        border-radius: 0;
    }
}